:root{
    --cor0: #b3aca4;
    --cor1: #157a8c;
    --cor1h: #106b87;
    --cor2: #003f69;
    --cor2h: #260d33;
}

h1{
    text-align: center;
}

.homeButton{
    text-decoration: none;
    color: #f3f0f0;
    background-color: var(--cor2);
    padding: 7px;
    border-radius: 10px;
    transition-duration: .3s;
    border: none;
}

.homeButton:hover{
    box-shadow: 1px 1px 1px #00000093;
    background-color: var(--cor2h);
}

.updateList{
    color: #f3f0f0;
    background-color: var(--cor2);
    box-shadow: none;
    border: none;
    padding: 7px;
    position: absolute;
    right: 7px;
    border-radius: 10px;
    transition-duration: .5s;
    cursor: pointer;
}

.updateList:hover{
    box-shadow: 1px 1px 1px #00000093;
    background-color: var(--cor2h);
}

.AddNew{
    color: #f3f0f0;
    background-color: var(--cor2);
    box-shadow: none;
    border: none;
    padding: 7px;
    position: absolute;
    right: 97px;
    border-radius: 10px;
    transition-duration: .5s;
    cursor: pointer;
}

.AddNew:hover{
    box-shadow: 1px 1px 1px #00000093;
    background-color: var(--cor2h);
}


.tableList{
    margin-top: 40px;
    width: 97.5%;
    min-height: 100px;
    background-color: var(--cor2);
    color: white;
    padding: 15px;
    border-radius: 15px;
}