:root{
  --cor0: #f56e64;
  --cor1: #06badd;
  --cor1h: #0885a5;
  --cor2: #6a6367;
  --cor2h: #221f24;
}


*{
  font-family: 'Courier New', Courier, monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px;
}

body{
  color: azure;
  background-color: var(--cor2h);
}

h1{
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.555);
  background-color: var(--cor0);
  border-radius: 15px;
  padding: 10px;
  width: fit-content;
  margin: auto;
  margin-bottom: 8px;
}

nav{
  width: 35%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.navButtons{
  text-decoration: none;
  color: white;
  padding: 7px;
  border-radius: 10px;
  transition-duration: .3s;
  margin-bottom: 5px;
  border: 2px solid var(--cor2);
  text-shadow: 1px 1px 1px #00000081;
  font-weight: bolder;
}

.navButtons:hover{
  box-shadow: 2px 2px 2px #f56e6488;
  border: 2px solid var(--cor0);
}

.navInicial{
  margin-top: 20px;
  background-color: var(--cor2);
  display: flex;
  width: 450px;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  padding: 15px;
}

.formDelete, .formAdd{
  color: #221f24;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.678);
  z-index: 9999;
}
.formAdd>form>input, .formDelete>form>input{
  border: 1px solid black;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.submiting{
  position: relative;
  right: -50%;
  transform: translate(-50%, 0%);
  margin:10px 0px;
}

.closePopUp{
  position: absolute;
  right: 10px;
}