:root{
  --cor0: #b3aca4;
  --cor1: #157a8c;
  --cor1h: #106b87;
  --cor2: #003f69;
  --cor2h: #260d33;
}


*{
  font-family: 'Courier New', Courier, monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px;
}

body{
  color: azure;
  background-color: #260d33;
}

h1{
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.555);
  background-color: var(--cor0);
  border-radius: 15px;
  padding: 10px;
  width: fit-content;
  margin: auto;
  margin-bottom: 8px;
}

nav{
  width: 35%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.navButtons{
  text-decoration: none;
  color: var(--cor0);
  background-color: var(--cor2);
  padding: 7px;
  border-radius: 10px;
  transition-duration: .3s;
  margin-bottom: 5px;
}

.navButtons:hover{
  box-shadow: 1px 1px 1px #00000093;
  background-color: var(--cor2h);
}