:root{
  --cor0: #f3f0f0;
  --cor1: #0000ff;
  --cor1h: #3a75f5;
  --cor2: #474646;
  --cor2h: #2e2d2d;
}
*{
  font-family: 'Courier New', Courier, monospace;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px;
}

body{
  color: azure;
  background-color: #0000ff;
}


nav{
  width: 35%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.navButtons{
  text-decoration: none;
  color: var(--cor0);
  background-color: var(--cor2);
  padding: 7px;
  border-radius: 10px;
  transition-duration: .3s;
  margin-bottom: 5px;
}

.navButtons:hover{
  box-shadow: 1px 1px 1px #00000093;
  background-color: var(--cor2h);
}