:root{
    --cor0: #f56e64;
    --cor1: #06badd;
    --cor1h: #0885a5;
    --cor2: #6a6367;
    --cor2h: #221f24;
}

h1{
    text-align: center;
}

.buttonsAddDelete{
    position: absolute;
    right: 20px;
}

.deleteItem{
    text-decoration: none;
    color: white;
    background-color: var(--cor2h);
    padding: 7px;
    border-radius: 10px;
    transition-duration: .3s;
    margin-bottom: 5px;
    border: 2px solid var(--cor2h);
    text-shadow: 1px 1px 1px #00000081;
    font-weight: bolder;
    cursor: pointer;
}

.homeButton{
    text-decoration: none;
    color: white;
    background-color: var(--cor2h);
    padding: 7px;
    border-radius: 10px;
    transition-duration: .3s;
    margin-bottom: 5px;
    border: 2px solid var(--cor2h);
    text-shadow: 1px 1px 1px #00000081;
    font-weight: bolder;
}

.AddNew:hover, .homeButton:hover, .deleteItem:hover{
    box-shadow: 2px 2px 2px #f56e6488;
    border: 2px solid var(--cor0);
}

.AddNew{
    text-decoration: none;
    color: white;
    background-color: var(--cor2h);
    padding: 7px;
    border-radius: 10px;
    transition-duration: .3s;
    margin-bottom: 5px;
    border: 2px solid var(--cor2h);
    text-shadow: 1px 1px 1px #00000081;
    font-weight: bolder;
    cursor: pointer;
}


.tableList{
    margin-top: 45px;
    width: 97.5%;
    min-height: 100px;
    background-color: var(--cor2);
    color: white;
    padding: 15px;
    border-radius: 15px;
}


.titleList{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 5px;
}

.itemList{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.atributo{
    width: 300px;
}

.formtitle{
    background-color: var(--cor0);
    color: white;
}
/* Cadastros.css */
